/*Sección About*/

.principal {
    background: #fefefe;
    padding: 3em 0;
    width: 940px;
    margin: auto;
}

.principal p {
    font-size: 1.5rem;
    margin: 0 0 1em;
    text-align: justify;
}


@media screen and (max-width: 480px) {
   
.principal  {
    width: auto;
}

}
