/*Sección Title*/

/*.title__title {
    background-color: red;
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
    justify-content: space-evenly;
}*/

.presentacion__principal {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
}

.title__presentacion {
    width: 90%;
    text-align: justify;
    padding: 4rem;
    font-size: 25px;
}

/*.title__profile {
    background-color: red;
    height: 200px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    padding: 2rem 4rem;
}

.title__container,
.title__bio, 
.title__subsection {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}*/

.title__network {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.title__network:hover {
    font-size: larger;   
}


@media screen and (max-width: 480px) {  
    .title__title {
        flex-direction: column;
    }

    .title__presentacion {
        width: 410px;
    }

    .title__network {
        flex-direction: column;
    }

}

